<!doctype html>
<html>
    <head>
        {% include partials/headstuff %}
        <link rel="stylesheet" type="text/css" href="{{ pathtoroot }}_styles/chapters.css">
        <title>{{ chapter.title }} | {{ global.title }}</title>
    </head>
    <body>
        {% include partials/header %}
        <main>
            <h1>
                Chapter {{ chapter.number | romanNumeralsAccessible }} &mdash; {{ chapter.title }}
            </h1>
            {{ content }}
        </main>
    </body>
</html>