---
tags: index
---

<!doctype html>
<html lang="{{ global.language }}">
    <head>
        {% include partials/headstuff %}
        <title>{{global.title}}</title>
    </head>
    <body class="page-index">
        {% include partials/darkmode %}
        <div class="page-wrapper">
            <div class="content-wrapper">
                {% include partials/header %}
                <div class="container">
                    <h1>{{global.title}}</h1>
                    <nav class="front-page-nav">
                        <ul>
                            <li id="currChapterLink" hidden>
                                <a href="#">Continue Reading</a>
                            </li>
                            <li>
                                <a href="read/{{collections.rawChapters[0].data.number}}/">Start from the beginning</a>
                            </li>
                            {%- unless global.isComplete -%}
                            <li>
                                {% assign latest = collections.rawChapters.length | minus: 1 %}
                                <a href="read/{{collections.rawChapters[latest].data.number}}/">Latest chapter</a>
                            </li>
                            {%- endunless -%}
                        </ul>
                    </nav>
                    <ul class="social-links">
                        {%- if global.showRss -%}
                            <li>
                                <a href="rss.xml">
                                    <i class="fas fa-rss"></i>
                                </a>
                            </li>
                        {%- endif -%}
                        {%- for social in global.socialLinks -%}
                            <li>
                                <a href="{{social.url}}">
                                    <i class="fab fa-{{social.platform}}"></i>
                                </a>
                            </li>
                        {%- endfor -%}
                        {%- if global.email -%}
                            <li>
                                <a href="mailto:{{global.email}}">
                                    <i class="far fa-envelope"></i>
                                </a>
                            </li>
                        {%- endif -%}
                    </ul>
                </div>
                {% include partials/footer %}
            </div>
        </div>
        <script src="/_scripts/darkmode.js"></script>
        <script>
            let currChapter = localStorage.getItem("currChapter");
            let currChapterLink = document.getElementById("currChapterLink");

            if (currChapter){
                currChapterLink.firstElementChild.setAttribute("href", "read/" + currChapter + "/");
                currChapterLink.removeAttribute("hidden");
            }
        </script>
    </body>
</html>