---
tags: index
---

<!doctype html>
<html lang="{{ global.language }}">
    <head>
        {% include partials/headstuff %}
        <title>{{global.title}}</title>
    </head>
    <body class="page-index">
        {% include partials/darkmode %}
        <div class="page-wrapper">
            <div class="content-wrapper">
                {% include partials/header %}
                <div class="container">
                    <h1>{{global.title}}</h1>
                    <nav class="front-page-nav">
                        <ul>
                            <li id="currChapterLink" hidden>
                                <a href="#">{{ui-text.homepage.continueReading}}</a>
                            </li>
                            <li>
                                <a href="read/{{collections.rawChapters[0].data.number}}/">{{ui-text.homepage.startReading}}</a>
                            </li>
                            {%- unless global.isComplete -%}
                            <li>
                                {% assign latest = collections.rawChapters.length | minus: 1 %}
                                <a href="read/{{collections.rawChapters[latest].data.number}}/">{{ui-text.homepage.latestChapter}}</a>
                            </li>
                            {%- endunless -%}
                        </ul>
                    </nav>
                    <ul class="social-links">
                        {%- if social.rss.showRss -%}
                            <li>
                                <a href="rss.xml" aria-label="{{social.rss.alt-text}}">
                                    <i class="fas fa-rss" aria-hidden="true"></i>
                                </a>
                            </li>
                        {%- endif -%}
                        {%- for socialLink in social.socialLinks -%}
                            <li>
                                <a href="{{socialLink.url}}" aria-label="{{socialLink.alt-text}}">
                                    <i class="{{socialLink.icon}}" aria-hidden="true"></i>
                                </a>
                            </li>
                        {%- endfor -%}
                        {%- if social.email -%}
                            <li>
                                <a href="mailto:{{social.email.address}}" aria-label="{{social.email.alt-text}}">
                                    <i class="far fa-envelope" aria-hidden="true"></i>
                                </a>
                            </li>
                        {%- endif -%}
                    </ul>
                </div>
                {% include partials/footer %}
            </div>
        </div>
        <script src="/_scripts/darkmode.js"></script>
        <script>
            let currChapter = localStorage.getItem("currChapter");
            let currChapterLink = document.getElementById("currChapterLink");

            if (currChapter){
                currChapterLink.firstElementChild.setAttribute("href", "read/" + currChapter + "/");
                currChapterLink.removeAttribute("hidden");
            }
        </script>
    </body>
</html>