---
pagination:
    data: collections.rawChapters
    size: 1
    addAllPagesToCollections: true
permalink: read/{{pagination.items[0].data.number}}/
tags: pagedChapters
---

<!doctype html>
<html lang="{{ global.language }}">
{% for chapter in pagination.items %}
    
    {%- assign chapterNumberStyle = global.numberStyle -%}
    {%- if chapter.data.numberStyle -%}
        {%- assign chapterNumberStyle = chapter.data.numberStyle -%}
    {%- endif -%}

    <head>
        {% include partials/headstuff %}
        <title>
            {%- if chapter.data.title -%}
                {% chapterNumber chapter.data.number, chapterNumberStyle, "", ". " %}{{ chapter.data.title }}
            {%- else -%}
                {% chapterNumber chapter.data.number, chapterNumberStyle, "Chapter ", "" %}
            {%- endif -%}
            &#32;| {{ global.title }}
        </title>
        <script>
            localStorage.setItem("currChapter", {{ chapter.data.number }});
        </script>
    </head>
    <body class="page-read">
        {% include partials/darkmode %}
        <div class="page-wrapper">
            <div class="content-wrapper">
                {% include partials/header %}
                {% include partials/prevnext %}
                <main>
                    <h1 class="chaptertitle">
                        {%- if chapter.data.title -%}
                            {% chapterNumber chapter.data.number, chapterNumberStyle, "Chapter ", " &mdash; " %}
                        {%- else -%}
                            {% chapterNumber chapter.data.number, chapterNumberStyle, "Chapter ", "" %}
                        {%- endif -%}
                        {{ chapter.data.title }}
                    </h1>
                    {{ chapter.templateContent }}
                </main>
                {% include partials/prevnext %}
                {% include partials/footer %}
            </div>
        </div>
        <script src="/_scripts/darkmode.js"></script>
    </body>
{% endfor %}
</html>